<html>
<head>
    <title>eventss - <%= result[0].events_id%></title>
</head>
<body>
<h1>eventss</h1>
<ul>
    <li>events ID: <%= result[0].events_id %></li>
    <li>players ID: <%= result[0].players_id %></li>
    <li>events Name: <%= result[0].events_name %></li>
</ul>
</body>

</html>