<%- include("includes/header.ejs", {title:"Contact Us"}); %>

<style>
    body {
        text-align: center;
    }
    h1 {

    }
</style>
<h1>Contact Us</h1>
<p>Phone Number: (707) 664-2521</p>
<p>Address: 801 East Cotati Avenue Rohnert Park, CA  94928</p>

<%- include("includes/footer.ejs"); %>